@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@import '../styles/toast.css';
@import '../styles/markdown-editor.css';
